body{
   background-color: black;
}
.rock-button, .paper-button, .scissors-button{
   width: 250px;
   height: 250px;  
   margin-left: 30px;
   border-radius: 50%;
    margin-top: 50px;
    margin-bottom: 30px;
}

img{
    width: 200px;
    height: 200px;
 }
 p{
    margin-left:60px;
    margin-bottom: 25px;
    font-size: 20px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    font-weight: 500;
 }
 .reset-button{
    margin-left: 60px;
    margin-top: 20px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:600;
    padding: 15px;
    width: 150px;
    height: 75px;
    border-radius:25px;
    border-color: black ;
    border-width: 1px solid;
    background-color: white;
 }
 button{
    cursor: pointer;
 }